numpy==1.24.2
openai==0.27.2
pandas==1.5.3
Requests==2.29.0
scikit_learn==1.2.2
transformers==4.27.1
# conda install -c conda-forge faiss-cpu
torch
torchvision

redis
hnswlib


# pip install pandas streamlit elasticsearch sentence_transformers
